$base-font-size: 37.5px !default;

@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

@function rem($pixel, $font-size: $base-font-size) {
  @return strip-unit($pixel) / strip-unit($font-size) * 1rem;
}

@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
